# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Environment files
.env
.env.*

# Build files
dist/
frontend/dist/

# Uploaded files
backend/uploads/images/*
backend/uploads/resumes/*

# Keep folders
!backend/uploads/images/.gitkeep
!backend/uploads/resumes/.gitkeep

# Temporary fix/update scripts
fix_*.js
update_*.js
clean_navbar.js
remove_nav_link.js

uploads/images/*
!uploads/images/.gitkeep

uploads/resumes/*
!uploads/resumes/.gitkeep